@import '../config/colors';


.container-contato{
  margin-top: 10%;

}

h2 {
  font-size: 24px;
  color: var(--primaryColor); 
  text-align: center ;
}

p {
  font-size: 16px;
  color: #333; 
  text-align: center;
  margin: 2% 0 0 0;
  text-align: center ;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin: 0 0 10% 0;
}

.MuiFormControl-root {
  width: 100%;
  margin-bottom: 15px;
  color: var(--primaryColor); 
}

.MuiButton-root {
  width: 100%;
}
.top-alert {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
}

.button {
  width: 140px;
  height: 45px;
  font-size: 23px;
  cursor: pointer;
  border: none;
  outline: none;
  background:#fdbd1b;
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
 }
 
 .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #5c3737;
  z-index: -1;
  transition: all 0.5s;

 }
 
 .button:hover::before {
  width: 100%;
 }
 
 .button:hover {
  color: rgb(255, 255, 255);
 }
 
 .button:active:before {
  background: #b9b9b9;
 }

 @media screen and (max-width: 768px) {
  .container-contato{
    margin-top: 20%;
  
  }
}


@keyframes animacao-home {
  from {
    opacity: 0;
    transform: translateY(0px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.animação-contato {
  animation: animacao-home 1s linear; 
}



