
@keyframes animacao-home {
    from {
      opacity: 0;
      transform: translateY(0px); 
    }
    to {
      opacity: 1;
      transform: translateY(0); 
    }
  }
  
  .animação-home {
    animation: animacao-home 1s ease; 
  }
  