body{
    margin: 0;
    padding: 0;
}
.content-project{
margin-top: 6%;

}
.projetos-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  .projetos-container > * {
    flex: 1; 
    max-width: calc(50% - 10px); 
  }

  @media screen and (max-width: 768px) {
    .content-project{
      margin-top: 10%;
      
      }
  
  }
  