@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import '../config/colors';

.Info {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}


.titulo-container {
    text-align: center;
    margin-bottom: 8px;
}

.titulo {
    font-size: 24px;
    color: #333;
    display: inline;
    border-bottom: 2px solid #ffc107;
    padding-bottom: 5px;
    margin-bottom: 8px;
    font-family: 'Playfair Display', serif;

}

.titulo-info {
    font-size: 20px;
    color: #333;
    display: inline;
    padding-bottom: 5px;
    margin-top: 40px;
    margin-bottom: 8px;
}

.texto-bloco-info {
    font-size: 18px;
    color: #666;
    margin: 1% 0 0 0;
    text-align: center;
    font-weight: bold;
    font-family: Nunito;

}

.texto-descricacao {
    font-size: 14px;
    color: #666;
    margin: 1% 5rem 0 5rem;
    text-align: center;
    font-family: Nunito;
    min-width: 400px; 
    max-width: 900px; 
    text-align: center;
    margin: 1% auto; 



}

@media screen and (max-width: 768px) {
    .titulo {
        font-size: 20px;
        color: #333;
        display: inline;
        border-bottom: 2px solid #ffc107;
        padding-bottom: 5px;
        margin-bottom: 8px;
        font-family: 'Playfair Display', serif;
    
    }

    .titulo-info {
        font-size: 18px;
        margin-top: 15px; 
        margin-bottom: 5px; 
    }

    .texto-bloco-info {
        font-size: 16px;
        font-weight: normal;
        margin: 10px 0;
    }

    .texto-descricacao {
        font-size: 12px;
        margin: 10px 0;
    }
}
