@import '../config/colors';


header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 10;
}

nav {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

a:hover {
  text-decoration: underline;
  color: var(--secondaryColor);
}

.menu-button {
  display: none;
  
}

/* Estilo para o menu quando está visível */
nav.show {
  display: block;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 10;
}

.header-blur {
  backdrop-filter: blur(10px); /* Adiciona um efeito de desfoque ao fundo */
  background-color: rgba(255, 255, 255, 0.3); /* Cor de fundo com transparência */
}


/* Estilo para o botão de menu em dispositivos menores */
@media screen and (max-width: 768px) {
  .main-content {
    margin-top: 60px; /* Adiciona uma margem superior para criar espaço para o menu */
  }

  .menu-button {
    width: 100%; /* Define a largura do botão como 100% da tela */
    background-color: var(--primaryColor);
    position: fixed; /* Mantém o menu fixo no topo */
    top: 0; /* Mantém o menu junto ao topo da tela */
    display: block;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  nav.show {
    display: block !important;
    background-color: var(--primaryColor);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    top: 0;

  }

  nav ul {
    display: none; 
  }

nav.show ul {
  display: block;
  margin-top: 60px;
}

nav.show li {
  display: block;
  margin: 10px 0;
}

nav.show a {
  color: #fff;
  font-size: 18px;
  display: block;
}
}