@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import '../config/colors';

.projeto {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s;
  }
  
  .projeto:hover {
    transform: translateY(-5px);
  }
  
  .projeto img {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
  }
  
  .descricao {
    flex: 1;
    margin-bottom: 10px;
  }
  
  .descricao h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
  }
  .descricao h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
  }
  
  .descricao p {
    font-size: 16px;
    color: #666;
    margin: 10px;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    background-color: #ddd;
    color: #160808;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--secondaryColor);
  }
  

  @media screen and (max-width: 768px) {
    .projeto {
      flex-direction: column; /* Altera para layout de coluna */
      align-items: flex-start; /* Alinhar itens à esquerda */
      margin: 10px; /* Reduz a margem */
      padding: 10px; /* Reduz o preenchimento */
      max-width: 100%; /* Define a largura máxima para a largura da tela */
    }
  
    .projeto img {
      max-width: 100%; /* Imagem com largura máxima de 100% da largura do contêiner */
      margin: 0; /* Remove a margem direita da imagem */
    }
  
    .descricao {
      text-align: center; /* Centraliza o texto */
    }
  
    .descricao h3 {
      font-size: 20px; /* Reduz o tamanho da fonte do título */
      margin: 10px 0; /* Adiciona margem superior e inferior ao título */
    }
  
    .descricao p {
      font-size: 14px; /* Reduz o tamanho da fonte da descrição */
      margin: 10px 0; /* Adiciona margem superior e inferior à descrição */
    }
  
    button {
      margin: 10px 0; /* Adiciona margem superior e inferior ao botão */
    }
  }
  