@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import '../config/colors';

.sobre {
    padding: 10px 0 0 0;
    border-radius: 5px;
    background-color: var(--primaryColor);
  }
  
  .sobre h2 {
    font-size: 30px;
    color: #333;
    font-family: 'Playfair Display', serif;
    font-weight: bold; 

  }
  
  .sobre p {
    margin: 10%;
    font-size: 16px;
    color: #333;
    font-family: Nunito;

  }
  .conteudo {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
  }
  
  .texto {
    flex: 1; 
  }
  
  .imagem {
    flex: 0.5; 
  }
  
 
  .imagem img {
    max-width: 150%;
    height: auto;
  }
  
  @media screen and (max-width: 768px) {

    .sobre {
      padding: 20px;
      border-radius: 5px;
      background-image: url('../images/image9.png');
      background-size: cover;
      background-position: center; 
      background-repeat: no-repeat;
  }
  
  .conteudo {
    background-color: #0000008e;
    margin: 7% 7% 0% 3%;
}

  .sobre h2 {
      font-size: 30px;
      color: #ffffff;
  }
  
  .sobre p {
      font-size: 16px;
      color: #ffffff;
  }
  
  .conteudo {
      display: flex; 
      flex-direction: column; 
      align-items: center; 
  }
  
  .texto {
      flex: 1; 
      text-align: center; 
      margin-bottom: 20px;
  }
  
  .imagem {
      flex: 1; 
      text-align: center; 
  }
  
  .imagem img {
      display: none;
      position: fixed;


  }
  }
  