@import '../src/config/colors.css';

::-webkit-scrollbar {
    width: 10px; 
  }
  
  
  ::-webkit-scrollbar-thumb {
    background-color: #88888893; 
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: #f1f1f1;
  }
  
  * {
    scrollbar-width: thin; 
    scrollbar-color: #888 #f1f1f1; 
  }

  .whatsapp-button {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000;

  }
  
  .whatsapp-button a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 20px;
  }
  .whatsapp-button a:hover {
    display: block;
    color: #0fb100;
    text-align: center;
    padding: 10px 20px;
  }
  
  .whatsapp-button img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  